# Cấu hình máy chủ
NODE_ENV=development
PORT=4000

# Cơ sở dữ liệu MongoDB
MONGODB_URI=mongodb://localhost:27017/eproject_clinic

# Mã bảo mật JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=7d

# Địa chỉ Client (Frontend)
FRONTEND_URL=http://localhost:5173

# Cấu hình gửi email OTP (Nodemailer SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Cấu hình Twilio SMS OTP
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
TWILIO_VERIFY_SERVICE_SID=

# Cấu hình Gemini AI Chatbot
GEMINI_API_KEY=
